/*   
Theme Name: Advogados - LFR
Theme URI: http://www.lfradvogados.com/
Description: LFR.
Author Luan Bernardes:
Author URI: -;
Version: 1.0
*/

/* YUI 3.9.1 (build 5852) Copyright 2013 Yahoo! Inc. http://yuilibrary.com/license/ */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

@font-face {
    font-family: 'museo100';
    src: url('fonts/museo100-regular-webfont.eot');
    src: url('fonts/museo100-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo100-regular-webfont.woff') format('woff'),
         url('fonts/museo100-regular-webfont.ttf') format('truetype'),
         url('fonts/museo100-regular-webfont.svg#museo100') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo700';
    src: url('fonts/museo700-regular-webfont.eot');
    src: url('fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo700-regular-webfont.woff') format('woff'),
         url('fonts/museo700-regular-webfont.ttf') format('truetype'),
         url('fonts/museo700-regular-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   BASE
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body{ background-color: #fff; font-family: 'Arimo', sans-serif; font-size: 13px; font-weight: 400; color: #4d4d4d; padding:0 15px; min-width: 267px;}

/*
CLEAR FIX
*/
.group{ overflow: hidden; }

/*
GENERAL CLASSES
*/
.wrap{
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.fr{ float: right; }
.fl{ float: left; }

/*
TYPOGRAPHY
*/
a, a:visited, a:active{ text-decoration: none; color:#666; }
a:hover{ text-decoration: underline; }
li.work-overlay a:hover{ text-decoration: none; }
strong{font-weight: 700;}
em{ font-style: italic; }
.bold-museo{ font-family: 'museo700', sans-serif; font-size: 15px; color:#808080; }
hr {border:0; height: 1px; background: #cfcfcf; width: 100%;}
h2.search-heading {font-family:'museo100'; font-size: 18px; }

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   SITE HEADER
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#site-header{
  margin: 60px auto 20px;
  background-color: #fff;
  position: relative;
}

.contact-detail {
    padding-left: 104px;
    color: #9e9e9e;
}

#searchform{
  width: 100%; height: 24px;
  margin-bottom:20px;
  text-align: right;
}
#searchform .screen-reader-text{
  visibility: hidden;
}
#s{
  width: 100px; height:20px;
  margin-right: 3px; padding: 2px 4px;
  background:#cfcfcf;
  border: 0;
  color:#f6f6f6;
  font-size: 12px;
}

#s:focus{
  outline:none;
}
#searchsubmit{
  width: 27px; height: 24px;
  background: url('img/search_icon.png') no-repeat center;
  background-color: #cfcfcf;
  border: 0;
  vertical-align: top;
  cursor: pointer;
}

#searchsubmit:hover {
    background-color: #ff0000;
    -webkit-transition:background 0.2s ease-in;
    -moz-transition:background 0.2s ease-in;
    -o-transition:background 0.2s ease-in;  
    transition:background 0.2s ease-in; 
}

#logo-b47{
  display: inline-block;
}

#main-content {
  padding-bottom: 30px;
  margin-bottom: 40px;
}

#main-nav ul, #main-nav .toggle-menu{ list-style: none; margin: 0; padding: 0; margin-top:85px; font-family: 'museo100', serif; font-size: 21px; color:#000; }
#main-nav .toggle-menu{ display: none; text-align: center; border-bottom:1px solid #cfcfcf; line-height:0;}
#main-nav .toggle-menu span{ background:white; padding:0 10px;}
#main-nav>ul{display:block;}
#main-nav ul li{ float: left; margin-left: 50px; letter-spacing: 2px; }
#main-nav ul ul{ display: none; position: absolute; margin-top:0; }
#main-nav ul ul li{ float:none; margin-left: 10px; font-size: 13px;  letter-spacing:0; }
#main-nav ul ul a{ color:#666; font-family: 'museo700', serif; }
#main-nav ul ul a:hover {color:red;text-decoration: none;}

.paginationCount {
  text-align: right;
  color: red;
  width: 100px;
  font-size: 12px;
  padding: 10px 10px 5px 0px;
}

#main-nav li:hover > ul{
  display: block;
}
.menu-item-110:after{
  content: " +";
  color:red;
}

.removePagSt{
  background-color:#f5f5f5 !important;
}

.page-title{
  clear:both;
  padding-top: 50px;
}

.page-title a {
    color: red;
}

.page-title .title-line{
  display: block;
  position: relative;
  top:-8px;
  width: 100%;
  border-bottom:1px solid #cfcfcf;
}
h1{
  display: inline-block;
  position: relative;
  z-index: 2;
  padding-right: 10px;
  background:#fff;
  font-family: 'museo700', serif;
  font-size: 15px;
  color: red;
}

.single-post-link .see-projects a{
    opacity: 0;
    overflow: scroll; 
}

.search-results .post-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.search-results .post-content {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   HOME
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body.home #main-content.wrap, body.category #main-content.wrap, body.single-post #main-content.wrap{
  max-width:960px;
}

#works-itens li{
  float:left;
  width: 32.8%;
  margin:0.265%;
  position: relative;
  overflow: hidden;
  font-size:1em;
  text-align: left
}

#works-itens a{
  color: #fff;
  display: block;
}

#works-itens img{
  display: block;
  width:100%;
  height:auto;
}

#works-itens .work-overlay:hover .work-info{
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.work-info {
    opacity: 0.0;
    background: #000;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
}

.work-info h2 {
    margin:0 0 10px 20px;
    font-family: 'museo100';
    color:#fff;
    font-size:2em;
}

.work-info hr {
    width: 10%;
    height: 1px;
    background: #fff;
    margin: 0 0 10px 20px;
}

p.author {
    font-family: 'museo100';
    padding:20px 0 0 20px;
    color:#fff;
    font-size:4em;
}

p.work-cat {
    font-family: 'museo100'; 
    padding-left:20px; 
    font-size:1.5em;   
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   2-COL CONTENT | PROJECT
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.project-content{
  position: relative;
}
.single-post .project-content .gallery{
  max-width:730px;
  position: absolute;
  top: 0;
  left:0;
}
.project-photos{
  max-width:730px;
  width:75%;
  line-height: 18px;
}
.project-photos img{
  display: block;
  width:100%;
  height:auto;
  max-width:730px;
}
.project-info{
  max-width:210px;
  width:20%;
}
.project-title{
  padding-bottom: 10px;
  font-size: 30px; font-family: 'museo100', serif; color:#999;
  border-bottom:1px solid #cfcfcf;
}
.project-info p{
  margin: 15px 0;
  line-height: 18px;
}
.project-info .post-meta{
  padding-bottom: 15px;
  border-bottom:1px solid #cfcfcf;
  font-weight: 700;
}
.project-info .post-meta .post-meta-key{
  display: none;
}
.project-info .addthis_toolbox{
  margin:10px 0 5px;
}
.project-share,
.project-tags{
  margin-bottom: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  border-bottom:1px solid #cfcfcf;
}

.view-info{
  color:#c4c4c4;
}

.pagination{
  clear: both;
  width: 100%; height:32px;
  margin: 40px 0 0;
  background:#eee;
}
.pagination .back-to{ height: 40px; background:url('img/prev.png') no-repeat 10px 4px;}
.pagination .back-to a{ padding-left:42px; line-height: 32px; font-family: 'museo100', serif; color: red;}

.pagination .see-projects {width: 138px;}
.pagination .see-projects span{ display: block; width: 65px; height: 32px; border-left:3px solid white;}
.pagination .see-projects span a{ display: block; width: 65px; height: 32px;}
.pagination .see-projects .prev{ background:url('img/prev.png') no-repeat 5px center; }
.pagination .see-projects .next{ background:url('img/next.png') no-repeat 10px center; }

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   ABOUT
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.page-id-2 #main-content h3 {
    font-size: 30px;
    font-family: 'museo100';
    margin-bottom: 30px;
}

.page-id-2 #main-content h4 {
    font-size: 24px;
    font-family: 'museo100';
    margin-left: 30px;
}

.page-id-2 #main-content p {
    line-height: 22px;
    margin-left: 30px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   CONTACT
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.wpcf7-form label {
    display: inline-block;
    float: left;
    width: 130px;
}

.wpcf7-form input[type="text"], .wpcf7-form textarea {
    background: #f8f8f8;
    border: 1px solid #ccc;
    padding: 5px;
    color: #bbb;
}

.wpcf7-form p {
    margin-bottom: 17px;
}

.wpcf7-form input[type="submit"] {
    background: #f3f3f3;
    padding: 10px 20px;
    border: none;
    /*margin-left: 130px;*/
    cursor: pointer;
    color: #333;
}

.wpcf7-form input[type="submit"]:hover {
    background: #ff0000;
    color: #fff;
    -webkit-transition:color 0.2s ease-in;
    -moz-transition:color 0.2s ease-in;
    -o-transition:color 0.2s ease-in;  
    transition:color 0.2s ease-in; 
    -webkit-transition:background 0.2s ease-in;
    -moz-transition:background 0.2s ease-in;
    -o-transition:background 0.2s ease-in;  
    transition:background 0.2s ease-in; 
}

/*AddThis*/
.addthis_toolbox {
    margin: 20px 0;
} 

.search .post-content {
    width: 100%;
}

/*Respond*/

#respond h3{
    font-family: 'museo100';
    font-size: 18px;
    margin-bottom: 15px;
}

/*Comment*/

#commentform input[type="submit"] {
    background: #f3f3f3;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #333;
}

#commentform input[type="submit"]:hover {
    background: #ff0000;
    color: #fff;
    -webkit-transition:color 0.2s ease-in;
    -moz-transition:color 0.2s ease-in;
    -o-transition:color 0.2s ease-in;  
    transition:color 0.2s ease-in; 
    -webkit-transition:background 0.2s ease-in;
    -moz-transition:background 0.2s ease-in;
    -o-transition:background 0.2s ease-in;  
    transition:background 0.2s ease-in; 
}

#commentform label {
    display: inline-block;
    float: left;
    width: 130px;
}

#commentform input[type="text"], #commentform textarea {
    background: #f8f8f8;
    border: 1px solid #ccc;
    padding: 5px;
}

#commentform p {
    margin-bottom: 17px;
}

.commentlist {
    display: none;
}

.single-post .addthis_toolbox {
   display: none;
}

.single-post .project-share .addthis_toolbox {
   display: block;
}

#wpcf7-f1-p27-o1 {
    width: 308px;
    margin: 30px auto 30px auto; 
}

#wpcf7-f1-p27-o1 input[type="text"] {
   width: 296px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   FOOTER
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#site-footer{
  background:#f0f0f0;
  border-top:1px solid #cacaca;
  font-size: 12px;
  width: 100%;
  position: relative;
  left: -15px;
  padding:0 15px 10px;
}

.social-media-wrap{ margin: 20px 0; padding-bottom: 20px; border-bottom:1px dotted #afafaf; }
.social-media li{ float:left; height: 32px; margin-left: 15px; padding-left: 25px; background:url('img/social_separator.png') no-repeat left center; }
.social-media .flickr {margin-left: 10px; background:none;}
.social-media a{ display: block; height: 30px; }
.social-media .flickr a{width: 59px; background:url('img/social_flickr.png') no-repeat center;}
.social-media .facebook a{width: 80px; background:url('img/social_facebook.png') no-repeat center;}
.social-media .pinterest a{width: 78px; background:url('img/social_pinterest.png') no-repeat center;}
.social-media .instagram a{width: 83px; height: 33px; background:url('img/social_instagram.png') no-repeat center 6px;}


@media only screen and (min-width : 755px) and (max-width : 884px) {

  #works-itens li{
    font-size:0.8em;
  }

  p.author {
      padding:15px 0 0 20px;
  }

  .social-media-wrap .fb-like,
  ul.social-media{
    width:100%;
    clear:both;
  }

  .social-media .flickr{
    margin-left: 0;
    padding-left: 0;
  }  

  ul.social-media{
    margin-top:15px;
  }

}

@media only screen and (min-width : 660px) and (max-width : 749px) {

  #works-itens li{
    font-size:0.8em;
  }

  p.author {
      padding:10px 0 0 20px;
  }  

  .social-media-wrap .fb-like,
  ul.social-media{
    width:100%;
    clear:both;
  }  

  .social-media .flickr{
    margin-left: 0;
    padding-left: 0;
  }

  ul.social-media{
    margin-top:15px;
  }  
}

@media only screen and (min-width : 440px) and (max-width : 659px) {


  #works-itens li{
    width: 49%;
    margin:0.5%;
    font-size:0.74em;
  }

  p.author {
      padding:8px 0 0 20px;
  }   

  .social-media-wrap .fb-like,
  ul.social-media{
    width:100%;
    clear:both;
  }  

  .social-media .flickr{
    margin-left: 0;
    padding-left: 0;
  }

  ul.social-media{
    margin-top:15px;
  }

#logo-b47 {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
}

#main-nav { width:100%; }

#main-nav ul li{ width:25%; text-align:center; margin:0; }

}

@media only screen and (min-width : 420px) and (max-width : 439px) {

  #works-itens li{
    width: 49%;
    margin:0.5%;
    font-size:0.7em;
  }

  p.author {
      padding:5px 0 0 20px;
  }  

 .social-media-wrap .fb-like,
  ul.social-media{
    width:100%;
    clear:both;
  }

  .social-media .flickr{
    margin-left: 0;
    padding-left: 0;
  }

  ul.social-media{
    margin-top:15px;
  }

#logo-b47 {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
}

#main-nav { width:100%; }

#main-nav ul li{ width:50%; text-align:center; margin:0; line-height:1.5;}
}
.page-title {
    padding-top: 70px;
}

@media only screen and (min-width : 0px) and (max-width : 419px) {

  #works-itens li{
    width: 100%;
    font-size:0.8em;
    margin:0.5% 0;
  }

  #searchform{
    position: absolute;
    bottom:0;
    right:0;
    text-align: right;
}

#logo-b47 {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
}

#main-nav { width:100%; }
#main-nav .toggle-menu{ display: block; }
/*#main-nav .menu, #main-nav>ul{ display: none; }*/
#main-nav .menu-item { width: 100%; border-bottom:1px solid #ccc; background: #f5f5f5;}
#main-nav .sub-menu .menu-item { border:none;}
#main-nav ul { margin-top:30px; }
#main-nav ul li{ width:100%; float:none; text-align:center; margin:0 auto; line-height: 1.5;}
#main-nav ul ul{ position: static; margin-top:0; }
#main-nav ul ul li {margin: 0;}

}

@media only screen and (min-width : 0px) and (max-width : 659px) {


  .project-content{
    position: relative;
  }
  .project-photos{
    max-width:auto;
    width:100%;
    float:left;
  }
  .project-info{
    max-width:400px;
    width:100%;
    float:left;
    margin:30px 0 15px;
  }

}