$color-blue: #13468e;
$color-blue-dark: #2a3d59;
$color-grey: #666666;
$color-grey-ligth: #dcdcdc;
$color-grey-ligther: #f5f5f5;
$color-orange: #ef7738;


$font-opensans: 'Open Sans', sans-serif;
$font-second: 'EngraversGothicBT-Regular', sans-serif;

body {background: $color-grey-ligther;}

.header{

  background: rgba(220,220,220,1);
  background: -moz-linear-gradient(left, rgba(220,220,220,1) 0%, rgba(245,245,245,1) 52%, rgba(220,220,220,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(220,220,220,1)), color-stop(52%, rgba(245,245,245,1)), color-stop(100%, rgba(220,220,220,1)));
  background: -webkit-linear-gradient(left, rgba(220,220,220,1) 0%, rgba(245,245,245,1) 52%, rgba(220,220,220,1) 100%);
  background: -o-linear-gradient(left, rgba(220,220,220,1) 0%, rgba(245,245,245,1) 52%, rgba(220,220,220,1) 100%);
  background: -ms-linear-gradient(left, rgba(220,220,220,1) 0%, rgba(245,245,245,1) 52%, rgba(220,220,220,1) 100%);
  background: linear-gradient(to right, rgba(220,220,220,1) 0%, rgba(245,245,245,1) 52%, rgba(220,220,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#dcdcdc', GradientType=1 );

  position: fixed;
  top:0;
  left: 0;
  z-index:999;
  width: 100%;
  height: 88px;
  border-bottom: 4px solid $color-orange;
  transition: all 0.5s ease;
  ul{
    display: table;
    width: 100%;
    margin: 23px 0px 0px 0px;
    @media (max-width:768px) {
      display: none;
      background: $color-grey-ligth;
      padding: 0 0 0 15px !important;
      margin: 4px 0px 0px 0px !important;

    }
    li{
      list-style: none;
      display: table-cell;
      text-align: center;
      @media (max-width:768px){
        display: block;
        text-align: left;
      }
      a{
        font-family: $font-second;
        color: $color-blue-dark;
        font-size: 23px;
        text-decoration: none;
        padding: 0px 3px 4px 3px;
        border-bottom: 4px solid transparent;
        transition: all 0.4s ease;
        @media (max-width:768px){
          padding: 9px 0 4px 0;
          display: block;
        }
        &:hover ,&:focus {
          border-bottom-color: $color-orange;
        }
      }
      .fa-search{
        font-size: 20px;
        @media (max-width: 768px){
          padding: 20px 0 ;
        }
      }
    }
  }

  .logo-topo{
    height: 84px;
    @media (max-width:768px){
      max-width: 230px ;
      float: left;
      padding-left: 35px;
    }
    .row{
      height: 100%;
    }
    img{
      top:0;
      left:0;
      //top:50%;
      //transform: translate(0,-50%);
      //padding-left: 15px;
      position: relative;
      display: block;
      max-width: 100%;
      max-height:75px;
      padding:8px 0 0 0;
    }
  }
  &.header-scroll{
    height: 60px;

    .logo-topo{
      height: 56px;
      img{
        top: -4px;
        height: 53px;
        //top:50%;

        position: relative;
        display: block;
        @media (max-width:768px){
          padding-left: 15px;
        }
      }
    }

    ul{
      margin: 13px 0px 0px 0px;
      li{
        .fa-search{
          font-size: 16px;
          padding: 7px 4px;
        }
        a{
          font-size: 18px;
          padding: 0px 3px 2px 3px;
          &:hover ,&:focus {
            border-bottom: 2px solid $color-orange;
          }
        }
      }
    }
  }
  @media (max-width:768px){

    .container{
      padding: 0px;
      .col-xs-12{
        padding: 0px;
      }
    }

  }

  .hamburguer {
    margin-top: 17px;
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px 15px 10px;
    margin-bottom: 8px;
    background: none;
    border:0;
    display: none;
    @media (max-width:768px){
      display: block;
    }

    &:focus{
      outline: none;
    }
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      background: $color-blue;
      margin-top: 6px;
      transition: all .4s ease;
    }
    &.active {
      .icon-bar{
        margin-top: 8px;
      }
    }
  }
}







.main{
  min-height:1000px;
  padding-bottom:74px;
  @media (max-width:992px){
    padding-bottom: 0;
  }
}

#intro{
  padding: 160px 0 80px 0;
  background: url("../img/quem-somos-bg.jpg") no-repeat fixed;
  background-size: cover;
  .table {
    display: table;
    width: 100%;
  }
  .logo-big, .text{
    display: table-cell;
    vertical-align: middle;
    float: none;
    width: 50%;
    @media (max-width:992px){
      display: block;
      width: 100%;
    }
  }
  .logo-big{
    padding: 20px 20px 20px 0;
    border-right: 5px solid $color-orange;
    @media (max-width:768px){
      max-width: 350px;
    }
    @media (max-width:992px){
      border-right:0;
      border-bottom: 5px solid $color-orange;
      padding-bottom:40px;
    }
    img {
      max-width: 280px;
      margin: 0 auto;
    }

  }
  .text{
    padding: 20px 0 20px 30px;
    font-size: 26px;
    line-height: 31px;
    font-family: $font-second;
    color: $color-blue;
    @media (max-width:768px){
      font-size: 24px;
      line-height:26px;
    }
    @media (max-width:992px){
      padding:0;
    }
  }
}


#quem-somos{
  background: $color-grey-ligth;
  .title{
    font-size: 40px;
    font-family: $font-second;
    border-bottom: 4px solid $color-orange;
    color: $color-blue-dark;
    text-align: left;
    display: inline-block;

  }
  .container{
    .row{
      margin-top: 57px;
      margin-bottom: 80px;
        .img {max-width: 100%}
        .foto1{
          height: 100%;
          width: 100%;
          margin-bottom: 15px;
        }

        .tit {
          font-size: 16px;
          font-family: $font-opensans;
          border-bottom: solid 2px $color-orange;
          color: $color-orange;
          margin-top: 0px;
          margin-bottom: 5px;
          text-align: left;
        }
        .sub-tit {
          margin: 0px;
          color: $color-grey;
          font-family: $font-opensans;
        }
        p{
          color: $color-blue;
          margin-bottom: 15px;
          font-family: $font-opensans;
        }

    }
  }
}


#areas-de-atuacao{
  margin-top: 0px;
  padding: 40px 0 60px 0;
  background: url("../img/areas-atuacao-bg.jpg") no-repeat fixed;
  background-size: cover;

  .margin30{
    margin-top: 25px;
  }
  .title{
    font-size: 40px;
    font-family: $font-second;
    border-bottom: 4px solid $color-orange;
    color: $color-blue-dark;
    text-align: left;
    display: inline-block;

  }

    .col-sm-12{
      h3{
        font-family: $font-opensans;
        font-size: 16px;
        color: $color-blue;

      }
      p, li{
        font-size: 14px;
        font-family: $font-opensans;
        color: $color-blue;
      }
    }
}

#publicacoes{
  margin-top: 0px;
  padding: 40px 0 60px 0;
  background: url("../img/publicacoe-bg.jpg") no-repeat fixed;
  background-size: cover;
  .container{
    a {
      display: block;
      width: 100%;
      text-decoration: none;
      *{

      }
    }
    .title{
      font-size: 40px;
      font-family: $font-second;
      border-bottom: 4px solid $color-orange;
      color: $color-blue-dark;
      text-align: left;
      display: inline-block;
      margin-top: 50px;
    }
    .row{
      .col-lg-4{
        @media (min-width:1200px) {
          &:nth-child(3n+1) {
            clear: both;
          }
        }
        @media (max-width:1200px){
          &:nth-child(2n+1){
            clear: both;
          }
        }
        @media (max-width:768px) {

        }
        i{
          display: inline-block;
          font-size: 18px;
          color: $color-grey;
          margin-bottom: 0;
        }
        .title-section {
          display: inline-block;
          ul {
            padding:0;
            li {
              list-style: none;
              a {
                display: inline-block;
                font-size: 15px;
                font-family: $font-opensans;
                color: $color-grey;
                margin-bottom: 0px;
                font-weight: 700;
              }

            }
          }

        }


        h2{
          font-size: 21px;
          font-family: $font-opensans;
          border-bottom: solid 2px $color-orange;
          color: $color-orange;
          text-align: left;
          margin-top: 0;
        }

          p{
            color: $color-blue-dark;
            font-size: 12px;
            font-family: $font-opensans;

          }
      }
    }
  }
}

#contato {
  margin-top: 0px;
  padding: 40px 0 70px 0;
  background: url("../img/contato-bg.jpg") no-repeat fixed;
  background-size: cover;

  .container {

    .title {
      font-size: 40px;
      font-family: $font-second;
      border-bottom: 4px solid $color-orange;
      color: $color-blue-dark;
      text-align: left;
      display: inline-block;
      margin-top: 50px;
      margin-bottom: 90px;
    }

    .google-maps {
      border:1px solid $color-orange;
      width: 100%;
      height: 305px;
      margin: 0 0 30px 0;
      #map {
        width: 100%;
        height:100%;
        background: $color-grey-ligth;
      }
    }

    form {
      p {
        margin-top: 0;
      }
      label{

        display: block;
        span {
          display: block;
          width: 100%;
          input, textarea {
            padding:6px 8px;
            color:$color-grey;
            border:0;
            background: rgba(156,155,156,0.5);
            width: 100%;
            font-weight: 400;
            &::placeholder {
              color: $color-grey;
            }
          }
        }
      }
      .wpcf7-submit {
        float: right;
        border:0;
        background: $color-orange;
        padding: 10px 25px;
        color: #fff;
      }

      .wpcf7-not-valid-tip, .wpcf7-validation-errors {
        color: red;
      }
      .wpcf7-mail-sent-ok {
        color: #4cae4c;
      }

    }

    .screen-reader-response{
      display: none;
    }
  }
}




.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 74px;
  background: $color-blue-dark;
  transition: all 0.5s ease;

  .container {
    height: 100%;

    .fa-envelope, .fa-phone, .fa-map-marker {
      font-size: 42px;
      color: white;
    }

    .midias-sociais {
      height: 100%;
      @media (max-width:992px){
        height: 100px;
      }
      .facebook , .linkedin{
        width: 33%;
        display: block;
        height: 100%;
        float: left;
        @media (max-width:992px){
          width: auto;
          padding: 0;
          margin:  0 25px 0 0 ;
        }
        a {
          top: 50%;
          transform: translate(0, -50%);
          position: relative;
          display: block;
          .icon {
            width: 34px;
            display: block;
          }
        }

      }
    }
    .informacoes{
      height: 100%;
      @media (max-width:992px){
        height: 70px;
      }
      .col-a{
        top: 50%;
        transform: translate(0, -50%);
        position: relative;
        display: block;
        width: 40px;
        float: left;
        .fa-envelope{
          font-size: 38px;
        }
      }

      .col-b{
        top: 50%;
        transform: translate(0, -50%);
        position: relative;
        display: block;
        width: calc(100% - 40px);
        float: left;
        color: white;
        font-family: $font-second;
        line-height:16px;
      }

      &.info-email{
        a {color:#fff;}
        .col-a{
          width: 55px;
        }

        .col-b{
          width: calc(100% - 55px);
        }
      }
    }

  }
  @media (max-width:992px){
    height: inherit;
    position: relative;
  }

  //&.footer-scroll{
  //  height: 80px;
  //  position: fixed;
  //}


}

.internas {
  padding:80px 0 110px 0;
}
.page-error {
  min-height:100vh;

}

.border-orange-bottom {
  width: 100%;
  height:7px;
  background: $color-orange;
  margin: 0 0 74px 0;
}

.page-posts{

  .img-header{
    img{
      margin:80px 0 0 0;
      width: 100%;
    }
  }

  .title {
    display: inline-block;
    padding:00px 0 8px 0;
    margin: 0 0 25px 0;
    font-size: 30px;
    line-height: 33px;
    font-weight: 400;
    color: $color-orange;
    border-bottom: 1px solid $color-orange;
    .category {
      color: $color-grey;
      text-decoration: none;
    }
  }

  .post {
    .title{
      padding: 0;
      margin: 0;
      color: $color-orange;
    }
    .category {
      margin-top: 0;
      a {
        font-size: 16px;
        line-height: 20px;
        color: $color-grey;
        text-decoration: none;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .posts-list {
    padding: 0;
    li {
      list-style:none;
      a {
        display: block;
        text-decoration: none;
        color: $color-grey;
        padding:14px 0;

        .sub-title{
          padding: 0;
          margin: 0 0 8px 0;
          font-size: 18px;
          line-height: 21px;
          color: $color-orange;
        }

        &:hover {
          .text p {
            opacity:0.8;
          }

        }
        .text p {
          margin-top: 0;
        }
      }
    }

  }






}