body {
  background: #f5f5f5; }

.header {
  background: gainsboro;
  background: -webkit-gradient(left top, right top, color-stop(0%, gainsboro), color-stop(52%, whitesmoke), color-stop(100%, gainsboro));
  background: linear-gradient(to right, gainsboro 0%, whitesmoke 52%, gainsboro 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#dcdcdc', GradientType=1 );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 88px;
  border-bottom: 4px solid #ef7738;
  transition: all 0.5s ease; }
  .header ul {
    display: table;
    width: 100%;
    margin: 23px 0px 0px 0px; }
    @media (max-width: 768px) {
      .header ul {
        display: none;
        background: #dcdcdc;
        padding: 0 0 0 15px !important;
        margin: 4px 0px 0px 0px !important; } }
    .header ul li {
      list-style: none;
      display: table-cell;
      text-align: center; }
      @media (max-width: 768px) {
        .header ul li {
          display: block;
          text-align: left; } }
      .header ul li a {
        font-family: "EngraversGothicBT-Regular", sans-serif;
        color: #2a3d59;
        font-size: 23px;
        text-decoration: none;
        padding: 0px 3px 4px 3px;
        border-bottom: 4px solid transparent;
        transition: all 0.4s ease; }
        @media (max-width: 768px) {
          .header ul li a {
            padding: 9px 0 4px 0;
            display: block; } }
        .header ul li a:hover, .header ul li a:focus {
          border-bottom-color: #ef7738; }
      .header ul li .fa-search {
        font-size: 20px; }
        @media (max-width: 768px) {
          .header ul li .fa-search {
            padding: 20px 0; } }
  .header .logo-topo {
    height: 84px; }
    @media (max-width: 768px) {
      .header .logo-topo {
        max-width: 230px;
        float: left;
        padding-left: 35px; } }
    .header .logo-topo .row {
      height: 100%; }
    .header .logo-topo img {
      top: 0;
      left: 0;
      position: relative;
      display: block;
      max-width: 100%;
      max-height: 75px;
      padding: 8px 0 0 0; }
  .header.header-scroll {
    height: 60px; }
    .header.header-scroll .logo-topo {
      height: 56px; }
      .header.header-scroll .logo-topo img {
        top: -4px;
        height: 53px;
        position: relative;
        display: block; }
        @media (max-width: 768px) {
          .header.header-scroll .logo-topo img {
            padding-left: 15px; } }
    .header.header-scroll ul {
      margin: 13px 0px 0px 0px; }
      .header.header-scroll ul li .fa-search {
        font-size: 16px;
        padding: 7px 4px; }
      .header.header-scroll ul li a {
        font-size: 18px;
        padding: 0px 3px 2px 3px; }
        .header.header-scroll ul li a:hover, .header.header-scroll ul li a:focus {
          border-bottom: 2px solid #ef7738; }
  @media (max-width: 768px) {
    .header .container {
      padding: 0px; }
      .header .container .col-xs-12 {
        padding: 0px; } }
  .header .hamburguer {
    margin-top: 17px;
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px 15px 10px;
    margin-bottom: 8px;
    background: none;
    border: 0;
    display: none; }
    @media (max-width: 768px) {
      .header .hamburguer {
        display: block; } }
    .header .hamburguer:focus {
      outline: none; }
    .header .hamburguer .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      background: #13468e;
      margin-top: 6px;
      transition: all .4s ease; }
    .header .hamburguer.active .icon-bar {
      margin-top: 8px; }

.main {
  min-height: 1000px;
  padding-bottom: 74px; }
  @media (max-width: 992px) {
    .main {
      padding-bottom: 0; } }

#intro {
  padding: 160px 0 80px 0;
  background: url("../img/quem-somos-bg.jpg") no-repeat fixed;
  background-size: cover; }
  #intro .table {
    display: table;
    width: 100%; }
  #intro .logo-big, #intro .text {
    display: table-cell;
    vertical-align: middle;
    float: none;
    width: 50%; }
    @media (max-width: 992px) {
      #intro .logo-big, #intro .text {
        display: block;
        width: 100%; } }
  #intro .logo-big {
    padding: 20px 20px 20px 0;
    border-right: 5px solid #ef7738; }
    @media (max-width: 768px) {
      #intro .logo-big {
        max-width: 350px; } }
    @media (max-width: 992px) {
      #intro .logo-big {
        border-right: 0;
        border-bottom: 5px solid #ef7738;
        padding-bottom: 40px; } }
    #intro .logo-big img {
      max-width: 280px;
      margin: 0 auto; }
  #intro .text {
    padding: 20px 0 20px 30px;
    font-size: 26px;
    line-height: 31px;
    font-family: "EngraversGothicBT-Regular", sans-serif;
    color: #13468e; }
    @media (max-width: 768px) {
      #intro .text {
        font-size: 24px;
        line-height: 26px; } }
    @media (max-width: 992px) {
      #intro .text {
        padding: 0; } }

#quem-somos {
  background: #dcdcdc; }
  #quem-somos .title {
    font-size: 40px;
    font-family: "EngraversGothicBT-Regular", sans-serif;
    border-bottom: 4px solid #ef7738;
    color: #2a3d59;
    text-align: left;
    display: inline-block; }
  #quem-somos .container .row {
    margin-top: 57px;
    margin-bottom: 80px; }
    #quem-somos .container .row .img {
      max-width: 100%; }
    #quem-somos .container .row .foto1 {
      height: 100%;
      width: 100%;
      margin-bottom: 15px; }
    #quem-somos .container .row .tit {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      border-bottom: solid 2px #ef7738;
      color: #ef7738;
      margin-top: 0px;
      margin-bottom: 5px;
      text-align: left; }
    #quem-somos .container .row .sub-tit {
      margin: 0px;
      color: #666666;
      font-family: "Open Sans", sans-serif; }
    #quem-somos .container .row p {
      color: #13468e;
      margin-bottom: 15px;
      font-family: "Open Sans", sans-serif; }

#areas-de-atuacao {
  margin-top: 0px;
  padding: 40px 0 60px 0;
  background: url("../img/areas-atuacao-bg.jpg") no-repeat fixed;
  background-size: cover; }
  #areas-de-atuacao .margin30 {
    margin-top: 25px; }
  #areas-de-atuacao .title {
    font-size: 40px;
    font-family: "EngraversGothicBT-Regular", sans-serif;
    border-bottom: 4px solid #ef7738;
    color: #2a3d59;
    text-align: left;
    display: inline-block; }
  #areas-de-atuacao .col-sm-12 h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #13468e; }
  #areas-de-atuacao .col-sm-12 p, #areas-de-atuacao .col-sm-12 li {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #13468e; }

#publicacoes {
  margin-top: 0px;
  padding: 40px 0 60px 0;
  background: url("../img/publicacoe-bg.jpg") no-repeat fixed;
  background-size: cover; }
  #publicacoes .container a {
    display: block;
    width: 100%;
    text-decoration: none; }
  #publicacoes .container .title {
    font-size: 40px;
    font-family: "EngraversGothicBT-Regular", sans-serif;
    border-bottom: 4px solid #ef7738;
    color: #2a3d59;
    text-align: left;
    display: inline-block;
    margin-top: 50px; }
  @media (min-width: 1200px) {
    #publicacoes .container .row .col-lg-4:nth-child(3n+1) {
      clear: both; } }
  @media (max-width: 1200px) {
    #publicacoes .container .row .col-lg-4:nth-child(2n+1) {
      clear: both; } }
  #publicacoes .container .row .col-lg-4 i {
    display: inline-block;
    font-size: 18px;
    color: #666666;
    margin-bottom: 0; }
  #publicacoes .container .row .col-lg-4 .title-section {
    display: inline-block; }
    #publicacoes .container .row .col-lg-4 .title-section ul {
      padding: 0; }
      #publicacoes .container .row .col-lg-4 .title-section ul li {
        list-style: none; }
        #publicacoes .container .row .col-lg-4 .title-section ul li a {
          display: inline-block;
          font-size: 15px;
          font-family: "Open Sans", sans-serif;
          color: #666666;
          margin-bottom: 0px;
          font-weight: 700; }
  #publicacoes .container .row .col-lg-4 h2 {
    font-size: 21px;
    font-family: "Open Sans", sans-serif;
    border-bottom: solid 2px #ef7738;
    color: #ef7738;
    text-align: left;
    margin-top: 0; }
  #publicacoes .container .row .col-lg-4 p {
    color: #2a3d59;
    font-size: 12px;
    font-family: "Open Sans", sans-serif; }

#contato {
  margin-top: 0px;
  padding: 40px 0 70px 0;
  background: url("../img/contato-bg.jpg") no-repeat fixed;
  background-size: cover; }
  #contato .container .title {
    font-size: 40px;
    font-family: "EngraversGothicBT-Regular", sans-serif;
    border-bottom: 4px solid #ef7738;
    color: #2a3d59;
    text-align: left;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 90px; }
  #contato .container .google-maps {
    border: 1px solid #ef7738;
    width: 100%;
    height: 305px;
    margin: 0 0 30px 0; }
    #contato .container .google-maps #map {
      width: 100%;
      height: 100%;
      background: #dcdcdc; }
  #contato .container form p {
    margin-top: 0; }
  #contato .container form label {
    display: block; }
    #contato .container form label span {
      display: block;
      width: 100%; }
      #contato .container form label span input, #contato .container form label span textarea {
        padding: 6px 8px;
        color: #666666;
        border: 0;
        background: rgba(156, 155, 156, 0.5);
        width: 100%;
        font-weight: 400; }
        #contato .container form label span input::-webkit-input-placeholder, #contato .container form label span textarea::-webkit-input-placeholder {
          color: #666666; }
        #contato .container form label span input:-ms-input-placeholder, #contato .container form label span textarea:-ms-input-placeholder {
          color: #666666; }
        #contato .container form label span input::placeholder, #contato .container form label span textarea::placeholder {
          color: #666666; }
  #contato .container form .wpcf7-submit {
    float: right;
    border: 0;
    background: #ef7738;
    padding: 10px 25px;
    color: #fff; }
  #contato .container form .wpcf7-not-valid-tip, #contato .container form .wpcf7-validation-errors {
    color: red; }
  #contato .container form .wpcf7-mail-sent-ok {
    color: #4cae4c; }
  #contato .container .screen-reader-response {
    display: none; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 74px;
  background: #2a3d59;
  transition: all 0.5s ease; }
  .footer .container {
    height: 100%; }
    .footer .container .fa-envelope, .footer .container .fa-phone, .footer .container .fa-map-marker {
      font-size: 42px;
      color: white; }
    .footer .container .midias-sociais {
      height: 100%; }
      @media (max-width: 992px) {
        .footer .container .midias-sociais {
          height: 100px; } }
      .footer .container .midias-sociais .facebook, .footer .container .midias-sociais .linkedin {
        width: 33%;
        display: block;
        height: 100%;
        float: left; }
        @media (max-width: 992px) {
          .footer .container .midias-sociais .facebook, .footer .container .midias-sociais .linkedin {
            width: auto;
            padding: 0;
            margin: 0 25px 0 0; } }
        .footer .container .midias-sociais .facebook a, .footer .container .midias-sociais .linkedin a {
          top: 50%;
          -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
          position: relative;
          display: block; }
          .footer .container .midias-sociais .facebook a .icon, .footer .container .midias-sociais .linkedin a .icon {
            width: 34px;
            display: block; }
    .footer .container .informacoes {
      height: 100%; }
      @media (max-width: 992px) {
        .footer .container .informacoes {
          height: 70px; } }
      .footer .container .informacoes .col-a {
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        position: relative;
        display: block;
        width: 40px;
        float: left; }
        .footer .container .informacoes .col-a .fa-envelope {
          font-size: 38px; }
      .footer .container .informacoes .col-b {
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        position: relative;
        display: block;
        width: calc(100% - 40px);
        float: left;
        color: white;
        font-family: "EngraversGothicBT-Regular", sans-serif;
        line-height: 16px; }
      .footer .container .informacoes.info-email a {
        color: #fff; }
      .footer .container .informacoes.info-email .col-a {
        width: 55px; }
      .footer .container .informacoes.info-email .col-b {
        width: calc(100% - 55px); }
  @media (max-width: 992px) {
    .footer {
      height: inherit;
      position: relative; } }

.internas {
  padding: 80px 0 110px 0; }

.page-error {
  min-height: 100vh; }

.border-orange-bottom {
  width: 100%;
  height: 7px;
  background: #ef7738;
  margin: 0 0 74px 0; }

.page-posts .img-header img {
  margin: 80px 0 0 0;
  width: 100%; }

.page-posts .title {
  display: inline-block;
  padding: 00px 0 8px 0;
  margin: 0 0 25px 0;
  font-size: 30px;
  line-height: 33px;
  font-weight: 400;
  color: #ef7738;
  border-bottom: 1px solid #ef7738; }
  .page-posts .title .category {
    color: #666666;
    text-decoration: none; }

.page-posts .post .title {
  padding: 0;
  margin: 0;
  color: #ef7738; }

.page-posts .post .category {
  margin-top: 0; }
  .page-posts .post .category a {
    font-size: 16px;
    line-height: 20px;
    color: #666666;
    text-decoration: none; }
    .page-posts .post .category a:hover {
      opacity: 0.8; }

.page-posts .posts-list {
  padding: 0; }
  .page-posts .posts-list li {
    list-style: none; }
    .page-posts .posts-list li a {
      display: block;
      text-decoration: none;
      color: #666666;
      padding: 14px 0; }
      .page-posts .posts-list li a .sub-title {
        padding: 0;
        margin: 0 0 8px 0;
        font-size: 18px;
        line-height: 21px;
        color: #ef7738; }
      .page-posts .posts-list li a:hover .text p {
        opacity: 0.8; }
      .page-posts .posts-list li a .text p {
        margin-top: 0; }
